@import 'variables';
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.edit-button,
.submit-button,
.add-button,
.delete-button {
  outline: none;
  border: none;
  width: 150px;
  background-color: $primary-blue;
  color: white;
  padding-top: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    background-color: $primary-orange;
  }
  margin: 30px 20px;
}

.preview-button {
  position: fixed;
  right: 0;
  height: 100%;
  width: 150px;
  cursor: pointer;
  text-align: center;
  color: white;
  &:hover {
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    color: black;
  }
  p {
    margin: 400px auto;
    font-size: 5rem;
    animation: arrow 1s infinite alternate ease-in-out;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(-0.1em);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 0.9;
  }
}
