@import 'variables';
.cv-container {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.personal-cv {
  border-bottom: 5px solid $primary-orange;
  h1 {
    font-size: 5rem;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}
.education,
.experience-cv-title {
  color: white;
  background-color: $secondary-blue;
  margin: 0px 0;
}

.education-cv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
}
.job-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px;
  border-bottom: 4px solid black;
  width: 100%;
}
.school-cv {
  margin: 20px 0;
}

.experience-cv-container {
  word-wrap: break-word;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-content: space-around;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  .experience-cv-date {
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid black;
  }
}

.main-task-cv {
  width: 100%;
}

.test {
  width: 100%;
  height: 30px;
  background-color: $primary-orange;
}
