@import 'variables';

header {
  position: fixed;
  left: 0;
  height: 100%;
  width: 200px;
  border-right: solid 5px rgb(255, 255, 255);
  background-color: $primary-blue;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
